Obj/
obj/
Bin/
bin/
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
*.gpState
*.vs
.vs
Source/.vs/Motel/v15/.suo
Source/.vs/Motel/v15/Server/sqlite3/storage.ide-shm
Source/.vs/Motel/v15/Server/sqlite3/storage.ide-shm
Source/.vs/Motel/v15/.suo
Source/.vs/Motel/v15/.suo
*.cache
Source/.vs/Motel/v15/.suo
