
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
</script>

<div style="padding:15px 15px 15px 15px;">
    <div class="col-sm-6">LEFT</div>
    <div class="col-sm-6">RIGHT</div>
</div>