@model List<DS.Motel.Clients.Web.Areas.Items.Models.Categorias.NavegadorViewModel>

@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Fluent


@(Html.Kendo().TreeView().Name("tvItemCategory")
    .DataTextField("Nombre")
    .BindTo((IEnumerable<DS.Motel.Clients.Web.Areas.Items.Models.Categorias.NavegadorViewModel>)Model, (NavigationBindingFactory<TreeViewItem> mappings) =>
    {
        mappings.For<DS.Motel.Clients.Web.Areas.Items.Models.Categorias.NavegadorViewModel>(binding => binding.ItemDataBound((item, category) =>
        {
            item.Id = category.CategoriaId.ToString();
            item.Text = category.Nombre;
        })
        .Children(category => category.SubCategorias));
        mappings.For<DS.Motel.Clients.Web.Areas.Items.Models.Categorias.NavegadorViewModel>(binding => binding.ItemDataBound((item, subCategory) =>
        {
            item.Id = subCategory.CategoriaId.ToString();
            item.Text = subCategory.Nombre;
        }));
    })
    .DragAndDrop(false)
    .ExpandAll(true)
    .Template("#: item.text # " +
        "# if (item.id != \"00000000-0000-0000-0000-000000000000\") { #" +
        "<button class='btn btn-warning' title='Editar' onclick='btnEdit_onClick(\"#:item.id#\");' style='margin-left:20px; margin-right:10px; padding:0px 4px; font-size: 10px;'><span class='glyphicon glyphicon-pencil'></span></button>" +
        "<button class='btn btn-danger' title='Eliminar' onclick='btnDelete_onClick(\"#:item.id#\");' style='padding:0px 4px;font-size: 10px;'><span class='glyphicon glyphicon-remove'></span></button>" +
        "# } #"
    )
)

<script type="text/javascript">
    $(document).ready(function () {
        $("#tvItemCategory").data("kendoTreeView").expand(".k-item");
    });
</script>