@model List<DS.Motel.Clients.Web.Models.Home.IndexViewModel>
@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@item.Nombre</h3>
                        <p>@item.EstadoNombre</p>
                    </div>
                    <button>Ingresar</button>
                </div>
            </div>
        }
    </div>

</section>
