
@{
    Layout= "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}

<div class="login_container">
    <h1 class='text-white'>Happy Hour</h1>
    <div class="form-login">
        <h4 class="mb-3">Ingresar</h4>
        <br />
        <input type="text" id="UserName" class="form-control input-sm chat-input" placeholder="Username" />
        <br /><br />
        <input type="text" id="UserPassword" class="form-control input-sm chat-input" placeholder="Password" />
        <br /><br />
        <input type="text" id="MontoInicial" class="form-control input-sm chat-input" placeholder="Monto Inicial" />
        <br /><br />
        <div class="wrapper">
            <span class="group-btn">
                <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
            </span>
        </div>
    </div>
</div>

