/*html, body { height: 100%; }*/
b { font-weight: bold; }

#divLogin { width:100%; margin:auto; }
.login_container { width: 100%; max-width: 330px; padding: 15px; margin: auto; }
.login_body { display: flex; background-color: darkcyan; height:100%; }
.login_footer { background-color: black; color:white; font-size: 28px; position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 40px; text-align:center; line-height:2; }
.form-login { background-color: rgba(0,0,0,0.55); padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-radius: 15px; border-color: #d2d2d2; border-width: 5px; 
              color: white; box-shadow: 0 1px 0 #cfcfcf; }

.text-white { color: white !important; }
.content_summary { border-radius:4px; background:#ffffff; border:1px solid #cccccc; min-height:247px; padding:25px; }
.field-validation-error { color: red; }
.field-validation-valid { color: red; }

.box_sizing_border_box {
    box-sizing: border-box !important;
}
/*.navbar-nav > li > a { padding-top:15px; padding-bottom:15px; line-height:20px; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }*/

.k-grid tr td { vertical-align:top !important; }
.ui-autocomplete-loading { background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat !important; }